@font-face {
  font-family: 'iconsmind';
  src: url("../fonts/iconsmind.eot?u2jiyw");
  src: url("../fonts/iconsmind.eot?u2jiyw#iefix") format("embedded-opentype"), url("../fonts/iconsmind.ttf?u2jiyw") format("truetype"), url("../fonts/iconsmind.woff?u2jiyw") format("woff"), url("../fonts/iconsmind.svg?u2jiyw#iconsmind") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/iconsmind.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconsmind';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/iconsmind.scss */
.icon-Add-File:before {
  content: "\e605";
}

/* line 29, ../sass/iconsmind.scss */
.icon-Air-Balloon:before {
  content: "\e614";
}

/* line 32, ../sass/iconsmind.scss */
.icon-Bacteria:before {
  content: "\e681";
}

/* line 35, ../sass/iconsmind.scss */
.icon-Beer-Glass:before {
  content: "\e6a9";
}

/* line 38, ../sass/iconsmind.scss */
.icon-Bicycle:before {
  content: "\e6b5";
}

/* line 41, ../sass/iconsmind.scss */
.icon-Brush:before {
  content: "\e6f7";
}

/* line 44, ../sass/iconsmind.scss */
.icon-Business-ManWoman:before {
  content: "\e6ff";
}

/* line 47, ../sass/iconsmind.scss */
.icon-Checked-User:before {
  content: "\e73f";
}

/* line 50, ../sass/iconsmind.scss */
.icon-Checkout-Bag:before {
  content: "\e741";
}

/* line 53, ../sass/iconsmind.scss */
.icon-Clock-Back:before {
  content: "\e76f";
}

/* line 56, ../sass/iconsmind.scss */
.icon-Cloud:before {
  content: "\e78a";
}

/* line 59, ../sass/iconsmind.scss */
.icon-Code-Window:before {
  content: "\e792";
}

/* line 62, ../sass/iconsmind.scss */
.icon-Coding:before {
  content: "\e793";
}

/* line 65, ../sass/iconsmind.scss */
.icon-Coffee-Machine:before {
  content: "\e796";
}

/* line 68, ../sass/iconsmind.scss */
.icon-Compass-Rose:before {
  content: "\e7aa";
}

/* line 71, ../sass/iconsmind.scss */
.icon-Credit-Card2:before {
  content: "\e7c3";
}

/* line 74, ../sass/iconsmind.scss */
.icon-Cursor-Click2:before {
  content: "\e7d1";
}

/* line 77, ../sass/iconsmind.scss */
.icon-Data-Storage:before {
  content: "\e7f3";
}

/* line 80, ../sass/iconsmind.scss */
.icon-Duplicate-Window:before {
  content: "\e841";
}

/* line 83, ../sass/iconsmind.scss */
.icon-Email:before {
  content: "\e854";
}

/* line 86, ../sass/iconsmind.scss */
.icon-Family-Sign:before {
  content: "\e883";
}

/* line 89, ../sass/iconsmind.scss */
.icon-Finger-Print:before {
  content: "\e8c4";
}

/* line 92, ../sass/iconsmind.scss */
.icon-Fingerprint-2:before {
  content: "\e8c6";
}

/* line 95, ../sass/iconsmind.scss */
.icon-Fingerprint:before {
  content: "\e8c7";
}

/* line 98, ../sass/iconsmind.scss */
.icon-Hand-Touch:before {
  content: "\e98e";
}

/* line 101, ../sass/iconsmind.scss */
.icon-Handshake:before {
  content: "\e993";
}

/* line 104, ../sass/iconsmind.scss */
.icon-Hospital-2:before {
  content: "\e9c4";
}

/* line 107, ../sass/iconsmind.scss */
.icon-Hour:before {
  content: "\e9c9";
}

/* line 110, ../sass/iconsmind.scss */
.icon-Laptop-3:before {
  content: "\ea13";
}

/* line 113, ../sass/iconsmind.scss */
.icon-Laptop-Phone:before {
  content: "\ea14";
}

/* line 116, ../sass/iconsmind.scss */
.icon-Laughing:before {
  content: "\ea1b";
}

/* line 119, ../sass/iconsmind.scss */
.icon-Life-Jacket:before {
  content: "\ea3d";
}

/* line 122, ../sass/iconsmind.scss */
.icon-Life-Safer:before {
  content: "\ea3e";
}

/* line 125, ../sass/iconsmind.scss */
.icon-Love-User:before {
  content: "\ea64";
}

/* line 128, ../sass/iconsmind.scss */
.icon-Mail-3:before {
  content: "\ea71";
}

/* line 131, ../sass/iconsmind.scss */
.icon-Medical-Sign:before {
  content: "\eaa8";
}

/* line 134, ../sass/iconsmind.scss */
.icon-Nurse:before {
  content: "\eb10";
}

/* line 137, ../sass/iconsmind.scss */
.icon-Pantone:before {
  content: "\eb39";
}

/* line 140, ../sass/iconsmind.scss */
.icon-Pen:before {
  content: "\eb4d";
}

/* line 143, ../sass/iconsmind.scss */
.icon-Phone-Wifi:before {
  content: "\eb5e";
}

/* line 146, ../sass/iconsmind.scss */
.icon-Post-Mail2:before {
  content: "\eb94";
}

/* line 149, ../sass/iconsmind.scss */
.icon-Preview:before {
  content: "\eba5";
}

/* line 152, ../sass/iconsmind.scss */
.icon-Road-3:before {
  content: "\ebfe";
}

/* line 155, ../sass/iconsmind.scss */
.icon-Sidebar-Window:before {
  content: "\ec65";
}

/* line 158, ../sass/iconsmind.scss */
.icon-Sport-Mode:before {
  content: "\ecbc";
}

/* line 161, ../sass/iconsmind.scss */
.icon-Target-Market:before {
  content: "\ed1a";
}

/* line 164, ../sass/iconsmind.scss */
.icon-Text-Effect:before {
  content: "\ed34";
}

/* line 167, ../sass/iconsmind.scss */
.icon-Wizard:before {
  content: "\ee08";
}
