@charset "UTF-8";
/* line 1, ../sass/style.sass */
html {
  font-size: 87.5%;
}

/* line 4, ../sass/style.sass */
body {
  font-size: 1em;
  line-height: 1.85714em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #666666;
  font-weight: 400;
  margin-top: 0;
}
/* line 14, ../sass/style.sass */
body header, body main, body footer {
  box-sizing: border-box;
}
/* line 18, ../sass/style.sass */
body header .nav-social, body header .nav-main {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

/* |||||||||| RESET |||||||||| */
/* line 26, ../sass/style.sass */
*, h1, h2, h3, h4, h5, h6, p, ul, a {
  margin: 0;
  padding: 0;
}

/* |||||||||| Typographie |||||||||| */
/* line 31, ../sass/style.sass */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #252525;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 39, ../sass/style.sass */
h1, .h1 {
  font-size: 3.14286em;
  line-height: 1.31818em;
}

/* line 43, ../sass/style.sass */
h2, .h2 {
  font-size: 2.35714em;
  line-height: 1.36364em;
}

/* line 47, ../sass/style.sass */
h3, .h3 {
  font-size: 1.78571em;
  line-height: 1.5em;
}

/* line 51, ../sass/style.sass */
h4, .h4 {
  font-size: 1.35714em;
  line-height: 1.36842em;
}

/* line 55, ../sass/style.sass */
h5, .h5 {
  font-size: 1em;
  line-height: 1.85714em;
}

/* line 59, ../sass/style.sass */
h6, .h6 {
  font-size: 0.85714em;
  line-height: 2.16667em;
}

/* line 63, ../sass/style.sass */
.lead {
  font-size: 1.35714em;
  line-height: 1.68421em;
}

/* line 67, ../sass/style.sass */
p, ul, ol, pre, table, blockquote {
  margin-bottom: 1.85714em;
}

/* line 70, ../sass/style.sass */
ul, ol {
  list-style: none;
  line-height: 1.85714em;
}

/* line 74, ../sass/style.sass */
ul.bullets {
  list-style: inside;
}

/* line 77, ../sass/style.sass */
ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}

/* line 81, ../sass/style.sass */
blockquote {
  font-size: 1.78571em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  border-left: 0;
}

/* line 88, ../sass/style.sass */
strong {
  font-weight: 600;
}

/* line 91, ../sass/style.sass */
hr {
  margin: 1.85714em 0;
  border-color: #fafafa;
}

/* line 95, ../sass/style.sass */
a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

/* Adaption */
/* line 102, ../sass/style.sass */
body {
  margin-top: 0px;
}

/* line 105, ../sass/style.sass */
nav.tabs {
  margin-top: 80px;
}

/* line 108, ../sass/style.sass */
ol.process-3 {
  padding-left: 0;
}

/* line 111, ../sass/style.sass */
section .row--gapless div[class*="col-"] {
  padding: 0;
}

/* line 114, ../sass/style.sass */
.btn .label {
  position: absolute;
}

/* line 116, ../sass/style.sass */
.label {
  line-height: inherit;
}

/* line 119, ../sass/style.sass */
.modal-instance .video-play-icon + span {
  bottom: -10px;
}

/* line 122, ../sass/style.sass */
.modal-instance .video-play-icon.video-play-icon--xs + span {
  bottom: 3px;
}

@media all and (min-width: 768px) {
  /* line 126, ../sass/style.sass */
  .video-1 h2 {
    bottom: -15px;
  }
}
/* line 130, ../sass/style.sass */
section:not(.image--light) .slider[data-paging="true"] .flickity-page-dots .dot {
  background: #fff;
}

/* line 133, ../sass/style.sass */
section .slider[data-paging="true"] .flickity-page-dots {
  bottom: 1.85714em;
}

/* line 136, ../sass/style.sass */
.slider.unmarg {
  margin: 0 !important;
}

/* line 139, ../sass/style.sass */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #252525;
  text-decoration: none;
}

/* line 143, ../sass/style.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: none;
}

/* line 146, ../sass/style.sass */
h2 a {
  font-weight: 300;
}

/* line 149, ../sass/style.sass */
h5 a, h6 a {
  font-weight: 600;
}

/* line 152, ../sass/style.sass */
[data-scrim-top]:not(.image--light) h1 a, [data-scrim-top]:not(.image--light) h2 a, [data-scrim-top]:not(.image--light) h3 a, [data-scrim-top]:not(.image--light) h4 a, [data-scrim-top]:not(.image--light) h5 a, [data-scrim-top]:not(.image--light) h6 a {
  color: #fff;
}

/* line 155, ../sass/style.sass */
p a, span a, label a {
  text-decoration: none;
}

/* Menu */
/* line 160, ../sass/style.sass */
.menu-vertical li {
  white-space: normal !important;
}

/* Sidebar */
/* line 164, ../sass/style.sass */
.sidebar .block:not(:last-child) {
  margin-bottom: 3.71429em;
}

/* line 167, ../sass/style.sass */
.sidebar .block h2 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.85714em;
}

/* Header */
/* line 174, ../sass/style.sass */
#block-customblocktrybuiderbuynowbutton {
  margin-top: 30px;
}

@media all and (min-width: 769px) {
  /* line 178, ../sass/style.sass */
  #block-mainnavigation {
    display: inline-block;
    margin-bottom: 5px;
  }
}
/* line 182, ../sass/style.sass */
#block-customblocktrybuiderbuynowbutton {
  display: inline-block;
  margin-left: 30px;
  margin-top: 0;
  overflow: visible;
}

/* line 189, ../sass/style.sass */
.bar .logo {
  top: 3px;
}

/* line 192, ../sass/style.sass */
.bar.bg--dark .logo-dark, .bar.bg--transparent .logo-dark {
  display: none;
}

/* line 195, ../sass/style.sass */
.bar:not(.bg--dark):not(.bar--transparent) .logo-light {
  display: none;
}

/* Footer */
/* line 200, ../sass/style.sass */
footer .footer-3 .row:last-child, footer .footer-4 .row:last-child {
  margin-top: 1.85714em;
}

/* line 204, ../sass/style.sass */
footer {
  padding-top: 0;
  padding-bottom: 0;
}

/*-------------------------------------------------------------------------------- */
/* 02. Forms -------------------------------------------------------------------------------- */
/* line 213, ../sass/style.sass */
button#edit-submit, button#edit-subscribe {
  background: #4a90e2;
  border-color: #4a90e2;
  text-transform: uppercase;
  color: #fff;
}

/* Comment form */
/* line 221, ../sass/style.sass */
form.comment-form button#edit-preview {
  display: none;
}

/* line 223, ../sass/style.sass */
form#comment-form textarea {
  padding: 16px 20px;
  background: #f5f5f5 none repeat scroll 0 0;
}

/* line 227, ../sass/style.sass */
form#comment-form select#edit-comment-body-0-format--2 {
  background: #f5f5f5 none repeat scroll 0 0;
}

/* line 230, ../sass/style.sass */
form#comment-form button#edit-submit {
  float: right;
  max-width: 25%;
  margin-right: 0;
}

/* line 235, ../sass/style.sass */
.region-content ul.links {
  padding-top: 24px;
  text-transform: uppercase;
}

/* line 239, ../sass/style.sass */
article.comment:first-child {
  border-radius: 6px 6px 0 0;
}

/* line 242, ../sass/style.sass */
.comment article.comment:first-child {
  border-radius: 0;
}

/* line 245, ../sass/style.sass */
article.comment:nth-child(2n+1) {
  background: #fcfcfc;
}

/* line 248, ../sass/style.sass */
article.comment {
  padding: 2.78571em;
  border: 1px solid #ececec;
  border-bottom: none;
  margin: 10px 0;
}

/* line 254, ../sass/style.sass */
article.comment:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #ececec;
}

/* line 258, ../sass/style.sass */
.indented article.comment {
  margin-left: 15%;
}

/* Search form */
/* line 263, ../sass/style.sass */
#search-form .search-help-link {
  display: none;
}

/* line 266, ../sass/style.sass */
#search-block-form .input-group {
  width: 100%;
}

/* Sitewide search form */
/* line 271, ../sass/style.sass */
.stack-search:before {
  display: none;
}

/* line 274, ../sass/style.sass */
.stack-search #search-block-form .input-group input {
  width: 70%;
  padding-right: 5%;
  border-radius: 6px;
  display: inline-block;
}

/* line 280, ../sass/style.sass */
.stack-search #search-block-form .input-group input:focus {
  border-color: #76abe9;
}

/* line 283, ../sass/style.sass */
.stack-search #search-block-form .input-group-btn {
  display: inline-block;
  width: 30%;
  padding-left: 5%;
}

/* line 288, ../sass/style.sass */
.stack-search #search-block-form .input-group-btn button {
  background: #4a90e2;
  border-color: #4a90e2;
  border-radius: 6px;
  padding-top: 0.46429em;
  padding-bottom: 0.46429em;
  height: 34px;
}

/* line 296, ../sass/style.sass */
.stack-search #search-block-form .input-group-btn span.sr-only, .search-form .input-group-btn span.sr-only {
  position: unset;
  font-size: 14px;
  color: white;
  height: 15px;
  line-height: 15px;
}

/* line 303, ../sass/style.sass */
.stack-search #search-block-form .input-group-btn span.icon, .search-form .input-group-btn span.icon {
  display: none;
}

/* line 306, ../sass/style.sass */
.search-form .input-group input {
  height: 39px;
}

/* line 309, ../sass/style.sass */
.search-form .input-group-btn button {
  padding: 5px 25px;
}

/* line 312, ../sass/style.sass */
.search-form .input-group-btn {
  font-size: 14px;
}

/* Contact form */
@media all and (min-width: 768px) {
  /* line 317, ../sass/style.sass */
  #block-sitewidecontactform .form-type-textfield, #block-sitewidecontactform .form-type-email {
    width: 47.5%;
    display: inline-block;
  }
}
/* line 321, ../sass/style.sass */
#block-sitewidecontactform .form-type-textfield {
  margin-right: 4%;
}

/* line 324, ../sass/style.sass */
#block-sitewidecontactform .form-item label {
  float: left;
}

/* line 327, ../sass/style.sass */
#block-sitewidecontactform button[type=submit] {
  width: 33%;
  float: left;
  letter-spacing: 0.5px;
  margin-right: -0.5px;
  text-transform: uppercase;
  background: #4a90e2;
  border-color: #4a90e2;
}

/* line 337, ../sass/style.sass */
#block-sitewidecontactform textarea {
  background: #fcfcfc;
  border: 1px solid #ececec;
}

/* line 341, ../sass/style.sass */
#block-sitewidecontactform button#edit-preview {
  display: none;
}

/* Register form */
/* line 346, ../sass/style.sass */
.register-horizontal #user-register-form .form-item {
  width: 45%;
  display: inline-block;
  float: left;
  margin-right: 5%;
}

/* line 352, ../sass/style.sass */
.register-horizontal #user-register-form .form-actions, .register-horizontal #user-register-form .form-item.js-form-item-pass {
  width: 100%;
}

/* Login form */
/* line 357, ../sass/style.sass */
.page-node-type-full-page #block-userlogin ul {
  display: none;
}

/* line 360, ../sass/style.sass */
#block-userlogin, #block-userregistrationform, #block-requestnewpasswordform {
  margin-bottom: 1.08333em;
}

/* line 363, ../sass/style.sass */
#block-userlogin button#edit-submit {
  background: #4a90e2;
  border-color: #4a90e2;
}

/* line 367, ../sass/style.sass */
#block-userlogin button#edit-submit:hover {
  background: #609de6;
}

/* Subscribe form */
/* line 372, ../sass/style.sass */
#block-simplenewssubscription .field--name-mail .form-type-email label {
  display: none;
}

/* line 376, ../sass/style.sass */
.subscribe-inline #block-simplenewssubscription #edit-actions {
  margin-top: 10px;
}

/* line 379, ../sass/style.sass */
.tooltip-inner {
  float: left;
  overflow: hidden;
}

@media all and (min-width: 768px) {
  /* line 384, ../sass/style.sass */
  .subscribe-inline #block-simplenewssubscription .field--type-email {
    width: 75%;
    float: left;
  }
}
/* line 388, ../sass/style.sass */
.subscribe-inline #block-simplenewssubscription .field--type-email input {
  height: 40px;
}

/* line 391, ../sass/style.sass */
.subscribe-inline #block-simplenewssubscription #edit-actions {
  width: 22%;
  float: left;
  margin-left: 3%;
  margin-top: 5px;
}

/* line 397, ../sass/style.sass */
body.user-logged-in .subscribe-inline #block-simplenewssubscription #edit-actions {
  width: 100%;
  margin-left: 0;
}

/*-------------------------------------------------------------------------------- */
/* 03. Blog & Article -------------------------------------------------------------------------------- */
/* Article Detail */
/* line 407, ../sass/style.sass */
.icon.glyphicon {
  font-size: 12px;
}

/* line 410, ../sass/style.sass */
.field--name-field-blog-category {
  display: inline;
}

/* line 413, ../sass/style.sass */
.field--name-field-image, .field--name-field-video {
  margin-bottom: 1.85714em;
}

/* line 416, ../sass/style.sass */
.imagebg-content-article {
  padding: 5.57143em 0;
}

/* line 420, ../sass/style.sass */
.article__author .field--name-user-picture {
  width: 3.71429em;
  height: 3.71429em;
  margin: 0 auto;
}

/* line 425, ../sass/style.sass */
.field--name-field-tags {
  margin-top: 20px;
}

/* line 428, ../sass/style.sass */
.field--name-field-tags .field--item {
  display: inline-block;
  margin-left: 7px;
}

/* Article List */
/* line 434, ../sass/style.sass */
.feature-1 a img {
  border-radius: 6px 6px 0 0;
}

/* Blog Tags */
/* line 439, ../sass/style.sass */
.view-blog-tags .views-row {
  display: inline-block;
  padding-right: 10px;
}

/*-------------------------------------------------------------------------------- */
/* 04. Portfolio & Project -------------------------------------------------------------------------------- */
/* Portfolio Detail */
/* line 449, ../sass/style.sass */
.page-node-type-project h1.page-header {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* line 453, ../sass/style.sass */
.page-node-type-project .block-views-blockportfolio-related-block-1 {
  margin-top: 7.42857em;
}

/* Portfolio List */
/* line 458, ../sass/style.sass */
.view-portfolio-lists .masonry__item img {
  border-radius: 6px;
}

/* line 461, ../sass/style.sass */
.portfolio-fullwidth .masonry__item {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 465, ../sass/style.sass */
.portfolio-fullwidth hr {
  display: none;
}

/* line 468, ../sass/style.sass */
.project-images {
  padding-top: 40px;
}

/*-------------------------------------------------------------------------------- */
/* 05. Others -------------------------------------------------------------------------------- */
/* Career Detail */
/* line 477, ../sass/style.sass */
.page-node-type-job h1.page-header {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 0;
}

/* Toolbar menu */
/* line 484, ../sass/style.sass */
.toolbar-menu .toolbar-box span {
  background: none;
}

/* Nav Tab */
/* line 489, ../sass/style.sass */
.user-logged-in nav.tabs {
  position: fixed;
  left: 0;
  top: 80px;
  transition: all 0.5s ease 0.25s;
  z-index: 1000;
}

/* line 496, ../sass/style.sass */
.user-logged-in nav.tabs ul.tabs--primary {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  list-style: outside none none;
  opacity: 0.9;
}

/* line 502, ../sass/style.sass */
.user-logged-in nav.tabs ul.tabs--primary li {
  float: none;
  opacity: 0.8;
  padding: 0;
}

/* line 507, ../sass/style.sass */
.user-logged-in nav.tabs ul.tabs--primary li a {
  margin-right: 0;
}

/* line 510, ../sass/style.sass */
.user-logged-in nav.tabs ul.tabs--primary li.active a,
.user-logged-in nav.tabs ul.tabs--primary li:hover a {
  background: #ffb500 none repeat scroll 0 0;
  border: none;
  border-radius: 0;
  color: #fff;
}

/* line 517, ../sass/style.sass */
.user-logged-in nav.tabs ul.tabs--primary li.active, .user-logged-in nav.tabs ul.tabs--primary li:hover {
  opacity: 1;
}

/* Check box/ radio */
/* line 522, ../sass/style.sass */
.form-type-checkbox, .form-type-radio, .input-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

/* line 529, ../sass/style.sass */
.form-type-checkbox input, .form-type-radio input {
  opacity: 1 !important;
  height: auto !important;
  width: auto !important;
  position: absolute !important;
  margin-top: 7px;
}

/* line 537, ../sass/style.sass */
.form-type-checkbox input {
  -webkit-appearance: checkbox;
}

/* line 540, ../sass/style.sass */
.form-type-radio input {
  -webkit-appearance: radio;
}

/* line 543, ../sass/style.sass */
.form-type-checkbox {
  padding: 0;
}

/* line 546, ../sass/style.sass */
.form-type-radio {
  padding: 0;
}

/* line 549, ../sass/style.sass */
.form-type-checkbox {
  margin-top: 0.46429em;
}

/* line 553, ../sass/style.sass */
.dropdown.open > .dropdown__container {
  opacity: 1;
}

/* line 556, ../sass/style.sass */
.image--xxs img {
  max-height: 1.85714em;
}

/* Lightbox  */
/* line 563, ../sass/style.sass */
body:after {
  display: none;
}

/* line 567, ../sass/style.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 578, ../sass/style.sass */
.lightbox {
  position: fixed;
  top: 50% !important;
  transform: translate3d(0, -50%, 0);
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: 400;
}

/* line 590, ../sass/style.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 601, ../sass/style.sass */
.lightbox a img {
  border: none;
}

/* line 605, ../sass/style.sass */
.lb-outerContainer {
  position: relative;
  background-color: #222;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 619, ../sass/style.sass */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 625, ../sass/style.sass */
.lb-container {
  padding: 4px;
}

/* line 629, ../sass/style.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 639, ../sass/style.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

/* line 646, ../sass/style.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 655, ../sass/style.sass */
.lb-container > .nav {
  left: 0;
}

/* line 659, ../sass/style.sass */
.lb-nav a {
  outline: 0;
}

/* line 663, ../sass/style.sass */
.lb-next, .lb-prev {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 669, ../sass/style.sass */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  filter: alpha(Opacity=0);
  opacity: 0.5;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 681, ../sass/style.sass */
.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

/* line 686, ../sass/style.sass */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  filter: alpha(Opacity=0);
  opacity: 0.5;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 698, ../sass/style.sass */
.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

/* line 703, ../sass/style.sass */
.lb-prev:after, .lb-next:after {
  content: "←";
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 24px;
}

/* line 710, ../sass/style.sass */
.lb-prev:after {
  left: -60px;
}

/* line 713, ../sass/style.sass */
.lb-next:after {
  right: -60px;
  content: "→";
}

/* line 718, ../sass/style.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  min-height: 35px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 732, ../sass/style.sass */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 738, ../sass/style.sass */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 743, ../sass/style.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 750, ../sass/style.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
}

/* line 756, ../sass/style.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
}

/* line 764, ../sass/style.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 779, ../sass/style.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1;
}

/* Flickity v2.0.2 http://flickity.metafizzy.co */
/* line 789, ../sass/style.sass */
body:after {
  display: none;
}

/* line 793, ../sass/style.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 804, ../sass/style.sass */
.lightbox {
  position: fixed;
  top: 50% !important;
  transform: translate3d(0, -50%, 0);
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: 400;
}

/* line 816, ../sass/style.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 827, ../sass/style.sass */
.lightbox a img {
  border: none;
}

/* line 831, ../sass/style.sass */
.lb-outerContainer {
  position: relative;
  background-color: #222;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 845, ../sass/style.sass */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 851, ../sass/style.sass */
.lb-container {
  padding: 4px;
}

/* line 855, ../sass/style.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 865, ../sass/style.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

/* line 872, ../sass/style.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 881, ../sass/style.sass */
.lb-container > .nav {
  left: 0;
}

/* line 885, ../sass/style.sass */
.lb-nav a {
  outline: 0;
}

/* line 889, ../sass/style.sass */
.lb-next, .lb-prev {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 895, ../sass/style.sass */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  filter: alpha(Opacity=0);
  opacity: 0.5;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 907, ../sass/style.sass */
.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

/* line 912, ../sass/style.sass */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  filter: alpha(Opacity=0);
  opacity: 0.5;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 924, ../sass/style.sass */
.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

/* line 929, ../sass/style.sass */
.lb-prev:after, .lb-next:after {
  content: "←";
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 24px;
}

/* line 936, ../sass/style.sass */
.lb-prev:after {
  left: -60px;
}

/* line 939, ../sass/style.sass */
.lb-next:after {
  right: -60px;
  content: "→";
}

/* line 944, ../sass/style.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  min-height: 35px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 958, ../sass/style.sass */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 964, ../sass/style.sass */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 969, ../sass/style.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 976, ../sass/style.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
}

/* line 982, ../sass/style.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
}

/* line 990, ../sass/style.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 1005, ../sass/style.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1;
}
